/* write your override styles here */
#wall .tag-1 {
    display: none;
  }

div#wall #tag-3.slickwicked {
    display: block;
}

 div#wall .parent {
    display: block;
 }

div#wall .parent #tag-4 {
    display: block;
}

div#wall .parent div {
    display: block;
}

div#wall div.parent div:last-child div#tag-7 {
    display: block;
}